wheel
setuptools
bumpversion
changelog-cli
coverage
flake8
flake8-colors
flake8-docstrings
flask # pyup: ignore
twine
pyfritzhome
pytest
pytest-replay
pytest-vcr
pytest-xdist
PyYAML
p3exporter >= 1.2.0
git+https://github.com/cmeissner/python-fritzhome.git@feature/65-disable-ssl-verification
